-
  var mainMenu = [
    {
      "id": "0",
      "name": "О нас",
      "url": "#about"
    },
    {
      "id": "10",
      "name": "Преимущества",
      "url": "#advantage",
    },
    {
      "id": "20",
      "name": "Бренды",
      "url": "#"
    },
    {
      "id": "30",
      "name": "Расчет стоимости",
      "url": "#"
    },

  ];
