// Стилизация БЭМ-блока page.
// Общие стили тегов.
// Подключение шрифтов.
// Типографика.


// Сделаем viewport великим снова! (привет, IE10) http://timkadlec.com/2012/10/ie10-snap-mode-and-responsive-design/
@at-root {

  @-ms-viewport {
    width: device-width;
  }
}


/* stylelint-disable */
// @font-face {
//   font-family: 'FONTNAME';
//   src: url('../fonts/FONTNAME.woff2') format('woff2'),
//        url('../fonts/FONTNAME.woff') format('woff');
//   font-weight: 400;
//   font-style: normal;
//   font-display: swap;
// }
/* stylelint-enable */


.page {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: 100%;
  min-width: 320px;
  min-height: 100%;

  &__inner {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  &__content {
    flex-grow: 1;
  }

  &__footer-wrapper {
    flex-shrink: 0;
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  -webkit-tap-highlight-color: transparent;
}

body {
  display: flex;           // Исправляем баг в IE для min-height and flexbox (flex-direction:column)
  flex-direction: column;  // и прижимаем footer в IE 10-11
  margin: 0;
  min-height: 100%;
  word-break: break-word;
  font-family: $font-family;
  font-size: $font-size;
  line-height: $line-height;
  text-align: left;
  color: $text-color;
  background-color: $body-bg;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
body, html {
  overflow-x: hidden;
}

[tabindex='-1']:focus {
  outline: none !important;
}

// Коррекция для кликабельных элементов с указанной ролью в iOS
[role='button'] {
  cursor: pointer;
}

// Мы любим Сафари (на самом деле, нет).
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

// area,
// summary,
a,
button,
[role='button'],
input,
label,
select,
textarea {
  touch-action: manipulation; // Стилевая коррекция 300ms задержки (для поддерживающих браузеров)
  margin: 0;                  // Убираем margin в Firefox и Safari
}

button,
input {
  overflow: visible;    // Покажем торчащее в Edge
  text-transform: none; // Уберём наследование text transform в Firefox
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; // Коррекция проблем стилизации для Safari
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  -webkit-appearance: listbox; // Коррекция для Mobile Safari (https://github.com/twbs/bootstrap/issues/11266)
}

textarea {
  overflow: auto;   // Удаление верт. скролла в IE.
  resize: vertical; // Правильное изменение размеров
}

svg {
  fill: currentColor;

  a &,
  button & {
    pointer-events: none; // Мы любим Edge, это браузер! (почти)
  }

  &:not(:root) {
    overflow: hidden; // Скрыть выступающее за границы в IE
  }
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: $link-color;
  background-color: transparent;
  transition: color 0.3s;

  &:hover,
  &:focus {
    color: $link-color--hover;
  }

  // &:visited {
  //   color: $link-color--hover;
  // }

  &[href^="tel:"] {

    // На больших экранах телефоны-ссылки делаем обычным текстом
    @media (min-width: $screen-xl) {
      white-space: nowrap;
      pointer-events: none;
      text-decoration: inherit;
      color: #3A3A3A;

    }
  }
}

hr {
  box-sizing: content-box; // Проблема Firefox
  height: 0;               // Проблема Firefox
  overflow: visible;       // Проблема Edge и IE
  margin-top: $typo-margin-vertical * 2;
  margin-bottom: $typo-margin-vertical * 2;
  border: 0;
  border-top: 1px solid $border-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1em;
  margin-bottom: 0.5em;
  font-family: $font-family;
  font-weight: 700;
  line-height: 1.2;
  color: currentColor;
}

h1 { font-size: $font-size-h1; }
h2 { font-size: $font-size-h2; }
h3 { font-size: $font-size-h3; }
h4 { font-size: $font-size-h4; }
h5 { font-size: $font-size-h5; }
h6 { font-size: $font-size-h6; }

p,
ul,
ol,
dl,
table,
blockquote,
pre,
address,
figure {
  margin-top: 0;
  margin-bottom: $typo-margin-vertical;
}

p {
  // http://clagnut.com/blog/2395
  hyphens: auto;
  hyphenate-limit-chars: 6 3 3;
  hyphenate-limit-lines: 2;
  hyphenate-limit-last: always;
  hyphenate-limit-zone: 8%;
}

address {
  font-style: normal;
}

ul,
ol {
  margin-bottom: $typo-margin-vertical;
  padding-left: 1.5em;

  ul,
  ol {
    margin-top: 0;
    margin-bottom: 0;
  }
}

li {
  line-height: inherit;
}

// dt {
//   font-weight: 700;
// }

// dd {
//   margin-left: 0;

//   @media (min-width: $screen-sm) {
//     margin-left: 1.5rem;
//   }

//   & + dt {
//     margin-top: ($line-height / 2);
//   }
// }

// .small,
small {
  font-size: $font-size-sm;
}

sub,
sup {
  font-size: $font-size-sm;
}

// .mark,
// mark {
//   background: rgba($color-warning, 0.3);
//   padding: 0.1em 0.3em;
// }

b,
strong {
  font-weight: bolder;
}

// abbr[title] {
//   text-decoration: underline dotted;
// }

blockquote {
  padding: 0;
  margin-left: 0;
  margin-right: 0;
}

// samp,
code,
kbd,
pre {
  font-family: $font-family--monospace;
}

code {
  padding: 0.06em 0.3em;
  color: $text-color;
  background-color: rgba(#000, 0.08);
  border-radius: $border-radius;
}

kbd {
  padding: 0.06em 0.3em;
  color: $text-color;
  background-color: $gray-lightest;
  border-radius: $border-radius;

  kbd {
    padding: 0;
  }
}

pre {
  display: block;
  width: 100%;
  margin-bottom: $typo-margin-vertical;
  overflow-x: auto;
  tab-size: 2;
  background-color: rgba(#000, 0.08);

  code {
    background: transparent;
  }
}
ul.no-list-style {
  margin:0px;
  padding:0px;

  & li {
    list-style: none;
  }
}

ul.list-circle {
  margin:0px;
  padding:0px;

  & li {
    list-style: none;
    padding-left:30px;
    position:relative;

    &:before {
      content:"";
      position:absolute;
      width: 10px;
      height:10px;
      top:6px;
      left:5px;
      background-color: $color-alt;
      border-radius:50%;
    }
  }
}
.top-block {
  min-height:100vh;
  background-image: url('../img/bg.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding-bottom:120px;

  &__inner {
    @include container;
  }
  &__row {
   @include row();
   position: relative;
   z-index: 1;

   & .col-1 {
    @include col(); 
    @include col(sm, 12, $grid-columns, 10px);  
    @include col(md, 6, $grid-columns, 12px);  
    @include col(lg, 6, $grid-columns, 16px);  
    @include col(xl, 6, $grid-columns, 20px); 
    
    & img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
   }
   & .col-2 {
    @include col(); 
    @include col(sm, 12, $grid-columns, 10px);  
    @include col(md, 6, $grid-columns, 12px);  
    @include col(lg, 6, $grid-columns, 16px);  
    @include col(xl, 6, $grid-columns, 20px); 
    color:$white; 

    @media(max-width:480px){
      text-align:center;
    }
   }

  }
  & h1 {
    font-weight: bold;
    font-size: 3.3rem;
    line-height: 4rem;
    text-transform: uppercase;
    margin-top:0px;
    margin-bottom:26px;
    animation: scale  1s linear;
    @media(max-width: 768px){
      margin-bottom: 6px;
    }

    & span {
      display:block;
      font-weight: 600;
      font-size:1rem;
      line-height: 133.5%;
      text-transform: none;

      @media(max-width: 768px){
        font-weight: 500;
        font-size: 16px;
        line-height: 30px;
      }
    }
  }
  & .no-list-style {
    font-weight: 500;
    font-size: 0.8rem;
    line-height: 21px;
    margin-bottom: 1.5rem;

    @media(max-width: 768px){
      margin-bottom: 10px;
      font-weight: 500;
      font-size: 16px;
    }
   
    & li {
      padding:8px 0;
      letter-spacing: 0.5px;

      @media(max-width: 768px){

      }

    }
  }
  & .list-circle {
    margin-bottom:40px;
    & li {
      padding:8px 0 8px 30px;
      font-size: 0.8rem;

      &:before {
        top: 16px;
      }
      @media(max-width: 768px){
        font-size:14px;
        padding: 0 0 0 30px;
       
        &:before {
          top: 6px;
        }
      }
    }
  }
}
.header__phone {
  font-weight: 800;
  font-size: 24px;
  line-height: 28px;
  color:#3A3A3A;

  &:hover {
    text-decoration: none;
  }
  @media(max-width:480px) {
    font-size: 16px;
    text-decoration:none;
  }
}
.parallax {
    position: absolute;
    top: 0;
    width: 90%;
    left: auto;
    right: 0;
    z-index:0;
    transition: all 0.5s ease;
}
.parallax1 {
  position: absolute;
  top: -400px;
  width: 200px;
  left: auto;
  right: 0;
  z-index: 0;
  transition:all 0.5s ease;

  &--1 {
    top: -300px;
    opacity:0.3;
  }
  &--2 {
    width:150px;
    top: -600px;
    transform:rotate(60deg);
    @media(max-width:768px) {
      display:none;
    }

  }
}
.parallax2 {
  position: absolute;
  bottom: 40%;
  width: 100px;
  left: auto;
  right: 300px;
  z-index: 0;
  transition:all 0.5s ease;
}
.parallax3 {
  position: absolute;
  top: -35%;
  width: 200px;
  left: 0px;
  right: auto;
  z-index: 0;
  transform: rotate(180deg);
  transition:all 0.5s ease;
  @media(max-width:768px) {
    display:none;
  }
}
.parallax4 {
  position: absolute;
  top: -5%;
  width: 250px;
  left: -140px;
  right: auto;
  z-index: 0;
  transition:all 0.5s ease;
  @media(max-width:768px) {
    display:none;
  }

}
.parallax5 {
  position: absolute;
  top: -5%;
  width: 100px;
  left: 140px;
  right: auto;
  z-index: 0;
  opacity:0.5;
  transition:all 0.5s ease;
  @media(max-width:768px) {
    display:none;
  }

}
.parallax6 {
  position: absolute;
  top: -55%;
  width: 200px;
  left: -50px;
  right: auto;
  z-index: 0;
  opacity:0.5;
  transform: rotate(180deg);
  transition:all 0.5s ease;

  &--1 {
    width:150px;
    top: -41%;
  }
  @media(max-width:768px) {
    display:none;
  }

}
.parallax7 {
  top: -55%;
    left: auto;
    right: 0;
    position: absolute;
    width: 200px;
    transition:all 0.5s ease;
    @media(max-width:768px) {
      display:none;
    }
}


.btn {
  background-color: $color-alt;
  font-size: 1rem;
  line-height: 26px;
  color: #252525;
  padding:17px 46px;
  box-shadow: 0px 0px 20px rgba(141, 141, 141, 0.25);
  border-radius: 54px;
  margin-bottom:50px;
  
  &:hover, &:active, &:focus {
    outline: none;
    text-decoration: none;
    background-color: #fbd305;
    border:0;
    box-shadow: none;
  }
}
#about {
  position: absolute;
  bottom:50px;
  width:100%;
  height:0px;

  @media(max-width:480px){
    bottom:280px;
  }

}
.about {

  &__inner {
    @include container();
  }

  & h3 {
    text-align: center;
    font-weight: 600;
    font-size: 40px;
    line-height: 47px;
   
    & .subtitle {
      font-weight: 400;
      font-size: 22px;
      line-height: 26px;
      margin-top:30px;
    }
  }

  &__list {
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    padding:0;
    margin: 40px 0;

    & li {
      list-style:none;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      font-weight: 500;
      font-size: 18px;
      line-height: 21px;
      margin:50px 50px;
      opacity:0;

      & .product-title {
        margin-top:24px;
      }

      @media (max-width:768px) {
        margin:20px 20px;
      }
    }
    & .about-list__item.animate {
      animation: scale  1s linear;
      opacity:1;
    }


  }
  @media (max-width:480px) {
    margin-top: -50px;
    z-index: 5;
    position: relative;

  }
}
@keyframes scale {

  0% {
    transform: scale(1);
    opacity:0;
  }
  50% {
    transform: scale(1.1);
  }
  
  100% {
    transform: scale(1);
    opacity:1;
}
}


.feedback {
  position:relative;

  &__inner {
    @include container();
    background-color: $color-main;
    border-radius:19px;
    color:#ffffff;
   
  }

  &__row {
    @include row();
     padding:78px 70px;
     @media(max-width:768px) {
       padding: 78px 30px;
     }

     & .col-1 {
      @include col(); 
      @include col(sm, 12, $grid-columns, 10px);  
      @include col(md, 6, $grid-columns, 12px);  
      @include col(lg, 7, $grid-columns, 16px);  
      @include col(xl, 7, $grid-columns, 20px); 
     }
     & .col-2 {
     @include col(); 
     @include col(sm, 12, $grid-columns, 10px);  
     @include col(md, 6, $grid-columns, 12px);  
     @include col(lg, 5, $grid-columns, 16px);  
     @include col(xl, 5, $grid-columns, 20px);
     } 
  }

  & h3 {
    font-weight: bold;
    font-size: 30px;
    margin-top:0;
    @media(max-width:768px) {
      font-size: 20px;
      font-weight: 600;
    }
  }
  & .subtitle {
    font-size: 18px;
    line-height: 140%;
    
    @media(max-width:768px) {
      font-size: 16px;
    }
  }
  & form {
    display: flex;
    flex-direction: column;
    align-items: center;
   justify-content: center;

   & input {
     height:58px;
     border:0px;
     background-color: $white;
     border-radius: 54px;
     width: 100%;
     margin-bottom:17px;
     padding:5px 30px;
    

     &.btn {
      background-color: $color-alt;

      &:hover {
        background-color: #fbd305;
      }
     }
   }
   @media(max-width:480px) {
    margin-top:20px;
  }
  }
}
.advantage {
  position: relative;
  padding:100px 0 0;
  text-align: center;

   &__inner {
     @include container();
   }

   & h3 {
     text-align: center;
     margin-top:0px;
     font-weight: bold;
     font-size: 36px;
     line-height: 50px;
     @media(max-width:480px) {
      font-size: 26px;
      line-height: 40px;
    }
   }

   &__list {
     display: flex;
     flex-wrap: wrap;

     & li {
       list-style:none;
       max-width:50%;
       width:40%;
       display: flex;
       align-items: flex-end;
       margin:50px 0;
       margin-left:20px;

    
      &:nth-child(3) {
        margin-left:80px;
      }
      &:nth-child(4) {
        margin-left:40px;
      }
      @media(max-width: 768px){
        width:50%;
        margin:30px 0;
        margin-left: 0px;

        &:nth-child(3) {
          margin-left:0px;

          & .advantage__number{
            order:2;
          }
        }
        &:nth-child(4) {
          margin-left:0px;

          & .advantage__number{
            order:2;
          }
        }
      }
      @media(max-width: 480px){
        width:100%;
        max-width:100%;
        flex-wrap:wrap;

        &:nth-child(3) {
          margin-left:0px;

          & .advantage__number{
            order:0;
          }
        }
        &:nth-child(4) {
          margin-left:0px;

          & .advantage__number{
            order:0;
          }
        }
      }

      &.animate {
        & .advantage__number{
          animation: scale 1s linear;
        }
      }
     }
   }

   &__number {
    font-weight: 800;
    font-size: 141px;
    line-height: 100px;
    color: rgba(37, 37, 37, 0.09);
    
    @media(max-width: 768px){
       min-width: 210px;
    }
    @media(max-width: 480px){
      min-width: 100%;
   }
   }

   &__content {
    font-size: 1rem;
    line-height: 26px;
    margin-left: 14px;
    text-align: left;
    @media(max-width: 480px){
      min-width: 100%;
      text-align:center;
      margin-top: 20px;
   }
   }
   & #advantage {
     position:absolute;
     top:0;
   }

   & .btn {
     width:407px;
     margin-top:50px;
   }

   &__row {
     @include row();
     margin-top:77px;
   }
   &__col {
     
     @include col(); 
     @include col(sm, 12, $grid-columns, 10px);  
     @include col(md, 6, $grid-columns, 30px);  
     @include col(lg, 6, $grid-columns, 40px);  
     @include col(xl, 6, $grid-columns, 70px);
     margin-bottom:53px;
     &.animate {
     
      & .advantage__icon-text {
      transform:scale(1);
      }

   }
  }

   &__icon-text {
     background-color: $color-main;
     transform:scale(0);
     padding:26px 50px;
     display:flex;
     color:$white;
     justify-content: space-between;
    align-items: center;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    line-height: 140.5%;
    min-height:100%;
    transition:all 0.5s linear;

    @media(max-width: 768px){
      padding:10px 20px;
   }
     
     &--1{
      border-top-left-radius: 40px;
      border-bottom-left-radius: 40px;
      border-top-right-radius: 40px;
    }
    &--2{
      border-top-left-radius: 40px;
      border-bottom-right-radius: 40px;
      border-top-right-radius: 40px;
    }

    & p {
      flex-grow: 1;
      @media(max-width: 768px){
       font-size:16px;
     }
    }


   }
   
}

.calculation {
  padding-top:100px;

  &__inner {
    @include container();
  }
  & h3 {
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    line-height: 47px;
    margin-top:0;
  }
  & .subtitle {
    text-align: center;
    font-size: 22px;
    line-height: 31px;
    margin-bottom:43px;

    @media(max-width:480px) {
      font-size:18px;
      padding:0 20px;
    }
  }
   
}
.block-calc{
 width:100%;
 background-color: #414141;
 border-radius: 20px;
 background-image: url('../img/bg_mask.svg');
 color:#ffffff;
 padding:33px 20px 65px;
 position: relative;

 & .btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 180%;
  margin-left: -80%;

  @media (max-width:768px) {
    min-width: 140%;
    margin-left: -20%;
  }
  @media (max-width:480px) {
    flex-direction:column;
  }
 }
 & .back {
   color: #ffffff;
   font-size: 18px;
   display:flex;
   justify-content: space-between;
   align-items: center;


 }

 &__title {
  font-weight: bold;
  font-size: 36px;
  line-height: 140%;
  text-align:center;
  margin-bottom:37px;
 }
 &__steps{
   width:250px;
   margin:0 auto;
   display:flex;
   justify-content: center;
   align-items:center;

   & span {
     display:block;
     width:18px;
     height:18px;
     background-color:$white;
     border-radius:50%;
     margin-right:37px;
     position:relative;

     &:after {
       position:absolute;
       content:"";
       top: 9px;
       right:-37px;
       width:38px;
       height:3px;
       background-color:$white;
     }

     &:last-child {
      margin-right:0;
      &:after {
        width:0;
        height:0;
      }
     }

     &.active {
       width: 37px;
       height:37px;
       background-color:$color-alt;

       &:after {
        top: 19px;
      }
      &:hover:before {
        border:0px solid $color-alt;
       }
     }

     &:before {
       width:24px;
       height:24px;
       content:"";
       position:absolute;
       top:-3px;
       left:-3px;
       border-radius:50%;
     }

     &:hover:before {
      border:2px solid $color-alt;
     }
   }
 }
 &__subtitle {
   margin-top:38px;
   margin-bottom: 13px;
  font-weight: 600;
  font-size: 18px;
  line-height: 140%;
  text-align:center;
 }

 & p {
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  text-align:center;
 }

 & form {
   width:407px;
   display:flex;
   flex-wrap: wrap;
   margin: 20px auto;


   & .col-1 {
     width:45%;
     margin-right: 5%;

     & .title {
      font-weight: bold;
      font-size: 16px;
      line-height: 140%;
      margin-top:17px;
      margin-bottom:10px;
     }

     & .form-control{
       margin:13px 0;
     }
   }

   .radio {
    position: absolute;
    z-index: 1;
    opacity: 0;
    margin: 10px 0 0 7px;
  }
  .radio + label {
    position: relative;
    padding: 0 0 0 35px;
    cursor: pointer;
  }
  .radio + label:before {
    content: '';
    position: absolute;
    top: -3px;
    left: 0;
    width: 22px;
    height: 22px;
    border: 1px solid #CDD1DA;
    border-radius: 50%;
    background: transparent;
  }
  .radio + label:after {
    content: '';
    position: absolute;
    top: 3px;
    left: 7px;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background: #ffffff;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.5);
    opacity: 0;
    transition: .2s;
  }
  .radio:checked + label:after {
    opacity: 1;
  }
  .radio:focus + label:before {
    
  }

  .input__wrapper {
    width: 100%;
    position: relative;
    margin: 15px 0;
    text-align: center;
    background: #FFE147;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
    border-radius: 54px;

    & label {
    display: flex;
    height: 60px;
    }
    &:hover {
      background-color: #fbd305;
    }
  }
   
  .input__file {
    opacity: 0;
    visibility: hidden;
    position: absolute;
  }
   
  .input__file-icon-wrapper {
    height: 100%;
    width: 25px;
    margin-right: 15px;
    margin-left: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
  }


   
  .input__file-button-text {
    line-height: 60px;
    margin-top: 1px;
    width: 100%;
    height: 100%;
  }
   
  .input__file-button {
    width: 100%;
    max-width: 290px;
    height: 60px;
    color: #252525;
    font-weight: 500;
    font-size: 24px;
    line-height: 140%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 3px;
    cursor: pointer;
    margin: 0 auto;
  }

  .btn {
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-size: 24px;
    height: 60px;
    margin-top:50px;
    transition:all 0.5s ease;

    & img {
      transform: rotate(90deg) scale(0.8);
      margin-left:30px;
      transition:all 0.5s ease;
    }

    &:hover {
      img {
        transform:rotate(90deg) translateY(-20px) scale(0.8);
        transition:all 0.5s ease;
      }
    }
  }
  & .btns {
    
    & .btn {
      width: auto; 
      
      &.button {
      width: 300px;
      }
    }

    & a {
      text-decoration: none;
    }

    & .back {
      & img {
        margin-right:15px;
      }
    }
  }
  & .step2__wrapper {
    width: 160%;
    margin-left: -30%;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;

    & div {
      display:flex;
      flex-direction:column;
      align-items: center;
      justify-content: center;

      & label {
        font-size: 16px;
        margin-top: 30px;
      }
    }
  }

  @media (max-width: 480px) {
    width: 90vw;
    margin:0 auto;
  }
  & .step2__wrapper {
    width: 160%;
    margin-left: -30%;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;

    & div {
      display:flex;
      flex-direction:column;
      align-items: center;
      justify-content: center;
   

      & label {
        font-size: 14px;
        margin-top: 10px;
        margin-bottom:10px;
      }

      & img {
        width:40px;
      }
    }
  }
 }
 p.step3, p.step4 {
     margin-top: 20px;
     font-weight:400;
     font-size:12px;
     margin-bottom:45px;
   }
  .step3 {

    .step3__wrapper {
        width:500px;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        & .col-2 {
          display: flex;
          flex-direction: column;
          width:220px;

          & span {
            font-weight: bold;
            font-size: 14px;
            line-height: 140%;
            margin-bottom:20px;
            margin-top:10px;
          }

          & input.text {
            width:100%;
            height: 26px;
            background-color: transparent;
            border:1px solid #ffffff;
            border-radius: 37px;
            color:#ffffff;
            margin-bottom:20px;
            padding: 5px 10px;

            &:focus {
              box-shadow:0px 0px 8px rgba(255, 255, 255, 0.5);
            }
          }

          & div {
            margin-bottom:10px;
          }
        }
        @media (max-width:480px) {
          width:90vw;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }
    }
  }

  .step4 {

    .step4__wrapper {
        width:500px;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;

        & .col-3 {
          display: flex;
          flex-direction: column;
          width:220px;

          & span {
            font-weight: bold;
            font-size: 14px;
            line-height: 140%;
            margin-bottom:20px;
            margin-top:10px;
          }

          & input.text {
            width:100%;
            height: 26px;
            background-color: transparent;
            border:1px solid #ffffff;
            border-radius: 37px;
            color:#ffffff;
            margin-bottom:20px;
            padding: 5px 10px;

            &:focus {
              box-shadow:0px 0px 8px rgba(255, 255, 255, 0.5);
            }
          }

          & div {
            margin-bottom:10px;
          }

          & .step4__row{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            & span {
              display: block;
              min-width:100%;
            }
          }
        }

        @media (max-width:480px) {
          width:90vw;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }
    }

    &.button {
       width: 300px;
    }
    
  }
  
.step1, .btn.step1 {

}
.step2, .btn.step2 {
  display:none;
}
.step3, .btn.step3 {
  display:none;
}
.step4, .btn.step4 {
  display:none;
}
}


.brands {
  padding-top:100px;
  position:relative;

  &__inner {
    @include container();
  }
  & h3 {
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    line-height: 47px;
    margin-top:0;
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    & .col {
      margin:2rem;
      width:300px;

      & img {
        filter: grayscale(1);
        transform: scale(0.5);
        transition: all 0.5s linear;

      }

      &.animate {
        & img {
          filter: grayscale(0);
          transform: scale(1);
        }
      }
      @media(max-width:768px){
        width:200px;
        margin:0.5rem 1rem;
      }
      @media(max-width:480px){
        width: 150px;
        margin: .5rem 10px;
      }
    }
  }
}

.bottom-block {
  margin-top:70px;
  margin-bottom:100px;
  position: relative;

  &:before {
    content:"";
    position:absolute;
    top: 43%;
    width: 100%;
    height:40%;
    background-color: $color-main;
    border-radius: 40px;
    z-index: 0;

    @media (max-width:480px) {
      top: 20%;
      height:  83%;
    }
  }

  &__inner {
    position: relative;
    @include container();
    z-index: 4;
  }

  &__row {
    @include row();

    & .col-1{
      @include col(); 
      @include col(sm, 12, $grid-columns, 10px);  
      @include col(md, 6, $grid-columns, 30px);  
      @include col(lg, 7, $grid-columns, 40px);  
      @include col(xl, 7, $grid-columns, 70px);
      min-height: 100%;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
 @media (max-width:480px){
      & img {
        display:none;
      }
    }
    }
    & .col-2{
      @include col(); 
      @include col(sm, 12, $grid-columns, 10px);  
      @include col(md, 6, $grid-columns, 30px);  
      @include col(lg, 5, $grid-columns, 40px);  
      @include col(xl, 5, $grid-columns, 70px);
    }
  }

  & .subtitle {
  font-size: 24px;
  line-height: 34px;
  font-weight: 500;
  color: #252525;
  text-align: center;

  @media(max-width:480px){
    font-size: 18px;
    margin-bottom:20px;
    font-weight: 700;
  }

  }

  & form {
    background: #FFE147;
    box-shadow: 0px -4px 15px rgba(0, 0, 0, 0.25);
    border-radius: 19px;
    max-width: 460px;
    padding:38px 60px;
    display:flex;
    flex-direction: column;
    transform: rotate(360deg) scale(0);
    transition:all 0.8s ease-in-out;

    & .form-title {
      text-align: center;
      font-weight: bold;
      font-size: 36px;
      line-height: 43px;
      margin-bottom:50px;
    }

    & input {
      height:37px;
      border:0px;
      border-bottom:1px solid #656565;
      background-color: transparent;

      &.btn {
        background-color: $white;
        color: #252525;
        box-shadow: 0px 0px 20px rgba(141, 141, 141, 0.15);
        border-radius: 54px;
        margin-top:60px;
        height:60px;
      }
    }

    & label {
      color: #656565;
      font-size:18px;
      margin-top:33px;
    }
   &.animate {
     transform:rotate(0deg) scale(1);
   }
   @media (max-width:768px) {
    padding: 20px 30px;

    & .form-title {
    font-weight: 600;
    font-size: 25px;
    line-height: 43px;
    margin-bottom: 20px;
    }
    & label {
      margin-top: 13px;
    }
    & input {
      &.btn {
        margin-top: 20px;
        margin-bottom: 0px;
      }
    }


   }
  }
  @media(max-width: 768px){
    margin-bottom: 50px;
}
}
.form-agreement {
      font-size: 12px;
      text-align: justify;
      padding: .5rem 0 2rem 0;
     
      & label {
        color: #656565;
        font-size:12px;
        line-height:14px;
        margin-top:33px;
      }
   
    }
.checkbox-other {
  display: block;
  margin: 0 0 10px 0;
  line-height: 22px;
  cursor: pointer;
  user-select: none;
  position: relative;

  & input[type=checkbox] {
    position: absolute;
    z-index: -1;
    opacity: 0;
    display: block;
    width: 20px;
    height: 20px;
    z-index: 5;
    top:0;
    left:0;
}
& span {
  display: inline-block;
  position: relative;
  padding: 0 0 0 35px;
  line-height: 22px;
  font-size:12px;

  &:before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 0;
    top: 0;
    border: 1px solid #656565;
    box-shadow: inset 0 0 3px #8a8a8a;
}
}
}
.checkbox-other input[type=checkbox] + span:after {
  content: "";
  opacity: 0;
  transition: opacity 0.3s ease;
}
.checkbox-other input[type=checkbox]:checked + span::after {
  content: "✓";
  color: #656565;
  font-size: 30px;
  font-weight: 900;
  position: absolute;
  left: 2px;
  top: -2px;
  opacity: 1;
 }

 input:focus {
   outline: none;
 }
 .modal__content{
   background-color: transparent;

   & .close span:before, .close span:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: #000;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
 }
.modal__body {
  display: flex;
  justify-content: center;
 form {
  background: #FFE147;
  box-shadow: 0px -4px 15px rgba(0, 0, 0, 0.25);
  border-radius: 19px;
  max-width: 460px;
  padding:38px 60px;
  display:flex;
  flex-direction: column;


  & .form-title {
    text-align: center;
    font-weight: bold;
    font-size: 36px;
    line-height: 43px;
    margin-bottom:50px;
  }

  & input {
    height:37px;
    border:0px;
    border-bottom:1px solid #656565;
    background-color: transparent;

    &.btn {
      background-color: $white;
      color: #252525;
      box-shadow: 0px 0px 20px rgba(141, 141, 141, 0.15);
      border-radius: 54px;
      margin-top:60px;
      height:60px;
    }
  }

  & label {
    color: #656565;
    font-size:18px;
    margin-top:33px;
  }

 @media (max-width:768px) {
  padding: 20px 30px;

  & .form-title {
  font-weight: 600;
  font-size: 25px;
  line-height: 43px;
  margin-bottom: 20px;
  }
  & label {
    margin-top: 13px;
  }
  & input {
    &.btn {
      margin-top: 20px;
      margin-bottom: 0px;
    }
  }


 }
}
}