// Стилизация БЭМ-блока page.
// Общие стили тегов.
// Подключение шрифтов.
// Типографика.


// Сделаем viewport великим снова! (привет, IE10) http://timkadlec.com/2012/10/ie10-snap-mode-and-responsive-design/
@at-root {

  @-ms-viewport {
    width: device-width;
  }
}


/* stylelint-disable */
// @font-face {
//   font-family: 'FONTNAME';
//   src: url('../fonts/FONTNAME.woff2') format('woff2'),
//        url('../fonts/FONTNAME.woff') format('woff');
//   font-weight: 400;
//   font-style: normal;
//   font-display: swap;
// }
/* stylelint-enable */


.page {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: 100%;
  min-width: 320px;
  min-height: 100%;

  &__inner {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  &__content {
    flex-grow: 1;
  }

  &__footer-wrapper {
    flex-shrink: 0;
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  -webkit-tap-highlight-color: transparent;
}

body {
  display: flex;           // Исправляем баг в IE для min-height and flexbox (flex-direction:column)
  flex-direction: column;  // и прижимаем footer в IE 10-11
  margin: 0;
  min-height: 100%;
  word-break: break-word;
  font-family: $font-family;
  font-size: $font-size;
  line-height: $line-height;
  text-align: left;
  color: $text-color;
  background-color: $body-bg;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

[tabindex='-1']:focus {
  outline: none !important;
}

// Коррекция для кликабельных элементов с указанной ролью в iOS
[role='button'] {
  cursor: pointer;
}

// Мы любим Сафари (на самом деле, нет).
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

// area,
// summary,
a,
button,
[role='button'],
input,
label,
select,
textarea {
  touch-action: manipulation; // Стилевая коррекция 300ms задержки (для поддерживающих браузеров)
  margin: 0;                  // Убираем margin в Firefox и Safari
}

button,
input {
  overflow: visible;    // Покажем торчащее в Edge
  text-transform: none; // Уберём наследование text transform в Firefox
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; // Коррекция проблем стилизации для Safari
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  -webkit-appearance: listbox; // Коррекция для Mobile Safari (https://github.com/twbs/bootstrap/issues/11266)
}

textarea {
  overflow: auto;   // Удаление верт. скролла в IE.
  resize: vertical; // Правильное изменение размеров
}

svg {
  fill: currentColor;

  a &,
  button & {
    pointer-events: none; // Мы любим Edge, это браузер! (почти)
  }

  &:not(:root) {
    overflow: hidden; // Скрыть выступающее за границы в IE
  }
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: $link-color;
  background-color: transparent;
  transition: color 0.3s;

  &:hover,
  &:focus {
    color: $link-color--hover;
  }

  // &:visited {
  //   color: $link-color--hover;
  // }

  &[href^="tel:"] {

    // На больших экранах телефоны-ссылки делаем обычным текстом
    @media (min-width: $screen-xl) {
      white-space: nowrap;
      pointer-events: none;
      text-decoration: inherit;
      color: #3A3A3A;

    }
  }
}

hr {
  box-sizing: content-box; // Проблема Firefox
  height: 0;               // Проблема Firefox
  overflow: visible;       // Проблема Edge и IE
  margin-top: $typo-margin-vertical * 2;
  margin-bottom: $typo-margin-vertical * 2;
  border: 0;
  border-top: 1px solid $border-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1em;
  margin-bottom: 0.5em;
  font-family: $font-family;
  font-weight: 700;
  line-height: 1.2;
  color: currentColor;
}

h1 { font-size: $font-size-h1; }
h2 { font-size: $font-size-h2; }
h3 { font-size: $font-size-h3; }
h4 { font-size: $font-size-h4; }
h5 { font-size: $font-size-h5; }
h6 { font-size: $font-size-h6; }

p,
ul,
ol,
dl,
table,
blockquote,
pre,
address,
figure {
  margin-top: 0;
  margin-bottom: $typo-margin-vertical;
}

p {
  // http://clagnut.com/blog/2395
  hyphens: auto;
  hyphenate-limit-chars: 6 3 3;
  hyphenate-limit-lines: 2;
  hyphenate-limit-last: always;
  hyphenate-limit-zone: 8%;
}

address {
  font-style: normal;
}

ul,
ol {
  margin-bottom: $typo-margin-vertical;
  padding-left: 1.5em;

  ul,
  ol {
    margin-top: 0;
    margin-bottom: 0;
  }
}

li {
  line-height: inherit;
}

// dt {
//   font-weight: 700;
// }

// dd {
//   margin-left: 0;

//   @media (min-width: $screen-sm) {
//     margin-left: 1.5rem;
//   }

//   & + dt {
//     margin-top: ($line-height / 2);
//   }
// }

// .small,
small {
  font-size: $font-size-sm;
}

sub,
sup {
  font-size: $font-size-sm;
}

// .mark,
// mark {
//   background: rgba($color-warning, 0.3);
//   padding: 0.1em 0.3em;
// }

b,
strong {
  font-weight: bolder;
}

// abbr[title] {
//   text-decoration: underline dotted;
// }

blockquote {
  padding: 0;
  margin-left: 0;
  margin-right: 0;
}

// samp,
code,
kbd,
pre {
  font-family: $font-family--monospace;
}

code {
  padding: 0.06em 0.3em;
  color: $text-color;
  background-color: rgba(#000, 0.08);
  border-radius: $border-radius;
}

kbd {
  padding: 0.06em 0.3em;
  color: $text-color;
  background-color: $gray-lightest;
  border-radius: $border-radius;

  kbd {
    padding: 0;
  }
}

pre {
  display: block;
  width: 100%;
  margin-bottom: $typo-margin-vertical;
  overflow-x: auto;
  tab-size: 2;
  background-color: rgba(#000, 0.08);

  code {
    background: transparent;
  }
}
ul.no-list-style {
  margin:0px;
  padding:0px;

  & li {
    list-style: none;
  }
}

ul.list-circle {
  margin:0px;
  padding:0px;

  & li {
    list-style: none;
    padding-left:30px;
    position:relative;

    &:before {
      content:"";
      position:absolute;
      width: 10px;
      height:10px;
      top:6px;
      left:5px;
      background-color: $color-alt;
      border-radius:50%;
    }
  }
}
.top-block {
  min-height:100vh;
  background-image: url('../img/bg.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding-bottom:120px;

  &__inner {
    @include container;
  }
  &__row {
   @include row();
   position: relative;
   z-index: 1;

   & .col-1 {
    @include col(); 
    @include col(sm, 12, $grid-columns, 10px);  
    @include col(md, 6, $grid-columns, 12px);  
    @include col(lg, 6, $grid-columns, 16px);  
    @include col(xl, 6, $grid-columns, 20px); 
    
    & img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
   }
   & .col-2 {
    @include col(); 
    @include col(sm, 12, $grid-columns, 10px);  
    @include col(md, 6, $grid-columns, 12px);  
    @include col(lg, 6, $grid-columns, 16px);  
    @include col(xl, 6, $grid-columns, 20px); 
    color:$white; 
   }

  }
  & h1 {
    font-weight: bold;
    font-size: 3.3rem;
    line-height: 4rem;
    text-transform: uppercase;
    margin-top:0px;
    margin-bottom:26px;

    & span {
      display:block;
      font-weight: 600;
      font-size:1rem;
      line-height: 133.5%;
      text-transform: none;
    }
  }
  & .no-list-style {
    font-weight: 500;
    font-size: 0.8rem;
    line-height: 21px;
    margin-bottom: 1.5rem;
   
    & li {
      padding:8px 0;
      letter-spacing: 0.5px;

    }
  }
  & .list-circle {
    margin-bottom:40px;
    & li {
      padding:8px 0 8px 30px;
      font-size: 0.8rem;

      &:before {
        top: 16px;
      }
    }
  }
}
.header__phone {
  font-weight: 800;
  font-size: 24px;
  line-height: 28px;
  color:#3A3A3A;

  &:hover {
    text-decoration: none;
  }
}
.parallax {
    position: absolute;
    top: 0;
    width: 90%;
    left: auto;
    right: 0;
    z-index:0;
}

.btn {
  background-color: $color-alt;
  font-size: 1rem;
  line-height: 26px;
  color: #252525;
  padding:17px 46px;
  box-shadow: 0px 0px 20px rgba(141, 141, 141, 0.25);
  border-radius: 54px;
  margin-bottom:50px;
  
  &:hover, &:active, &:focus {
    outline: none;
    text-decoration: none;
    background-color: #fbd305;
    border:0;
    box-shadow: none;
  }
}
#about {
  position: absolute;
  bottom:0px;
  width:100%;
  height:0px;

}
.about {

  &__inner {
    @include container();
  }

  & h3 {
    text-align: center;
    font-weight: 600;
    font-size: 40px;
    line-height: 47px;
   
    & .subtitle {
      font-weight: 400;
      font-size: 22px;
      line-height: 26px;
      margin-top:30px;
    }
  }

  &__list {
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    padding:0;
    margin: 40px 0;

    & li {
      list-style:none;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      font-weight: 500;
      font-size: 18px;
      line-height: 21px;
      margin:50px 50px;

      & .product-title {
        margin-top:24px;
      }

    }
  }
}

.feedback {

  &__inner {
    @include container();
    background-color: $color-main;
    border-radius:19px;
    color:#ffffff;
   
  }

  &__row {
    @include row();
     padding:78px 70px;

     & .col-1 {
      @include col(); 
      @include col(sm, 12, $grid-columns, 10px);  
      @include col(md, 6, $grid-columns, 12px);  
      @include col(lg, 7, $grid-columns, 16px);  
      @include col(xl, 7, $grid-columns, 20px); 
     }
     & .col-2 {
     @include col(); 
     @include col(sm, 12, $grid-columns, 10px);  
     @include col(md, 6, $grid-columns, 12px);  
     @include col(lg, 5, $grid-columns, 16px);  
     @include col(xl, 5, $grid-columns, 20px);
     } 
  }

  & h3 {
    font-weight: bold;
    font-size: 30px;
    margin-top:0;
  }
  & .subtitle {
    font-size: 18px;
    line-height: 140%;
  }
  & form {
    display: flex;
    flex-direction: column;
    align-items: center;
   justify-content: center;

   & input {
     height:58px;
     border:0px;
     background-color: $white;
     border-radius: 54px;
     width: 100%;
     margin-bottom:17px;

     &.btn {
      background-color: $color-alt;

      &:hover {
        background-color: #fbd305;
      }
     }
   }
  }
}
.advantage {
  position: relative;
  padding:100px 0 0;
  text-align: center;

   &__inner {
     @include container();
   }

   & h3 {
     text-align: center;
     margin-top:0px;
     font-weight: bold;
     font-size: 36px;
     line-height: 50px;
   }

   &__list {
     display: flex;
     flex-wrap: wrap;

     & li {
       list-style:none;
       max-width:50%;
       width:40%;
       display: flex;
       align-items: flex-end;
       margin:50px 0;
       margin-left:20px;
    
      &:nth-child(3) {
        margin-left:80px;
      }
      &:nth-child(4) {
        margin-left:40px;
      }
     }
   }

   &__number {
    font-weight: 800;
    font-size: 141px;
    line-height: 100px;
    color: rgba(37, 37, 37, 0.09);
   }

   &__content {
    font-size: 1rem;
    line-height: 26px;
    margin-left: 14px;
    text-align: left;
   }
   & #advantage {
     position:absolute;
     top:0;
   }

   & .btn {
     width:407px;
     margin-top:50px;
   }

   &__col {
     background-color: $color-main;
   }
}