// В этом файле должны быть стили для БЭМ-блока top-block, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.top-block {

  $block-name:                &; // #{$block-name}__element
  position: relative;
  &__inner {
    @include container();
    order: 3;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  &__row {
    display: flex;
    flex-wrap: wrap;
  }

  &__col-8{
    @include col($grid-columns, 0px); // малые ширины — 12 из 12, промежутки по умолчанию
    @include col(sm, 12, $grid-columns, 0px);  // SM (480 по умолчанию) — 6 из 12, промежутки 10px
    @include col(md, 8, $grid-columns, 0px);  // MD (768 по умолчанию) — 4 из 12, промежутки 12px
    @include col(lg, 9, $grid-columns, 0px);  // LG (992 по умолчанию) — 3 из 12, промежутки 16px
    @include col(xl, 9, $grid-columns, 0px);  // XL (1200 по умолчанию) — 2 из 12, промежутки 20px
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: flex-end;
    position: relative;
    height: 450px;
    background-color: #e1dfe0;
    overflow: hidden;
    order: 1;
      & img{
        max-width: 125%;
        height: 125%;
        object-fit: cover;
        object-position: right;
      }

  }
  &__col-3{
    @include col($grid-columns, 0px); // малые ширины — 12 из 12, промежутки по умолчанию
    @include col(sm, 12, $grid-columns, 0px);  // SM (480 по умолчанию) — 6 из 12, промежутки 10px
    @include col(md, 4, $grid-columns, 0px);  // MD (768 по умолчанию) — 4 из 12, промежутки 12px
    @include col(lg, 3, $grid-columns, 0px);  // LG (992 по умолчанию) — 3 из 12, промежутки 16px
    @include col(xl, 3, $grid-columns, 0px);  // XL (1200 по умолчанию) — 2 из 12, промежутки 20px
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: $gray-lighter;
    order: 2;
  }
  &__col-4{
    width: 362px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    order: 1;
  }
  &__col-5{
    flex-grow: 1;
    max-width:655px;
    display: flex;
    flex-wrap: wrap;
    order: 2;
    margin:30px 30px 0;
  }
  &__col-6{
    width:69px;
    margin-top:30px;
    display: flex;
    flex-wrap: wrap;
    order: 3;
  }

  &__col-7{
    display: none;
  }


  &__title-block{
    position: absolute;
    top:90px;
    z-index: 2;
    font-style: normal;
    font-weight: bold;
    font-size: 29px;
    line-height: 39px;
  }

  &__buttons-block {
    position: absolute;
    bottom: 40px;
    right: 30px;
    
    & a {
      opacity: 0.5;
      margin: 0 5px;
    }
  }
  &__content {
    text-align: center;
  }
  
  &__title {
    font-weight: 600;
    font-size: 18px;
    line-height: 29px;
  }
  
  &__text {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    margin-top: 10px;
    margin-bottom:33px;
  }
  &__news {
    width:100%;
    background-color: $white;
    padding:30px 30px 40px;
    margin-top: -270px;
    position: relative;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
    border-radius: 3px;

    & .divider {
      margin:22px 0;
    }
    & .news-card {
      padding: 0 10px;

      &__link {
        font-size: 16px;
        line-height: 24px;  
      }

      &__date {
        font-size: 14px;
        line-height: 23px;
        padding-top: 14px;
        color: $gray-light;
      }
    }
  }

  &__soft-card {
    width:100%;

    & .soft-card__link {
      width:100%;
      background-color: $white;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 22px 40px;
      margin-bottom: 10px;

      &:hover {
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.14);
        color: $link-color;
      }
    }
    & .soft-card__title {
      font-weight: 600;
      font-size: 18px;
      line-height: 29px;
    }

    & .soft-card__content {
      font-weight: normal;
      font-size: 14px;
      line-height: 23px;
      color: $gray-dark;
     }

     & .soft-card__arrow {
       display:none;
       
       & svg {
         fill: $color-main;
       }
     }
  }
  &__soft-menu {
      padding:0;
      margin:0;
      width:100%;
      border-radius: 3px;
      overflow: hidden;

      & li {
        list-style: none;
        width: 69px;
        height: 80px;
        transition: all 0.3s linear;
        background-color: $gray-light;
        
        & a {
          display:flex;
          align-items: center;
          justify-content: center;
          margin: 0 auto;
          width:61px;
          height:100%;
          border-bottom: 1px solid $gray-dark;
        
        }



        & .soft-menu__icon {
           fill:$gray-darker;
        }

        &:hover {
          background-color: $color-main;

          & .soft-menu__icon {
            fill:$white;
         }
        }
      }
  }
  @media (min-width:768px) and (max-width:1024px){
    &__col-5{
      max-width: 500px;
      margin: 30px 0;
    }
  }
  @media (max-width: 768px){
    &__col-8{
      height: 314px;
      & img{
        max-width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 75% 100%;
      }
    }
    
    &__col-4{
     display:none;
    }
    
    &__col-5{
      order: 1;
      max-width: 639px;
      margin: 20px 0;
    }
    &__col-6{
      order: 2;
      margin: 20px 0;
    }
    &__col-7{
      display: flex;
      flex-direction: column;
      max-width:100%;
      order: 4;

      & .top-block__title {
        margin: 50px 20px 25px;
      }
    }
    
    &__news {
       margin-top: 52px;
       width:100%;
    }
    &__buttons-block {
      position: absolute;
      bottom: 80px;
      right:auto;
      left: 20px;
    }

    &__title-block{
      font-size: 20px;
      left: 20px;
    }
  
    & .actual-article {
      display: flex;
      align-items: center;
      margin-right:10px;

      &__card {
        width: 100%;
        min-height:103px;
        background-color: $white;
        padding: 17px 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }

      &__content {
        font-weight: bold;
        font-size: 14px;
        line-height: 20px;
        width: 70%;
      }
      
      &__footer {
        display: flex;
        justify-content: space-between;
        font-size: 14px;
        line-height: 23px;
        font-weight: 300;
        
      }

      &__vue {

        & svg {
          fill: #BABABA;
          margin-right: 10px;
        }
      }
    }
  
    &__title{
      font-size:16px;
      line-height: 22px;
    }
  }
  @media (max-width: 480px){
    &__col-3{
      height: 311px;
      flex-grow: 1;
      padding-right: 68px;
    }
    &__col-5{
      order: 3;
      max-width: 100%;
      margin: 0px 0;
    }

    &__col-6 {
      position: absolute;
      top: 314px;
      right: 0;
      margin:0;
    }
    &__soft-menu {
      & li {
        height:78px;
      }
    }
    &__soft-card {
   
      & .soft-card__link {
        margin-bottom: 2px;
        padding:22px 20px 18px 20px;
      }
      & .soft-card__content {
        display:none;
      }
      & .soft-card__arrow {
        display:block;
      }
    }
    & .actual-article__card{
    max-width: 90%;
    margin: 0 auto;
    }
  }
}
