//- Стандартный шаблон страницы

include mixins.pug

doctype html
html(class='page  no-js', lang='ru')

  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    //- Edge и ряд мобильных браузеров слишком умны. Отключим это.
    meta(name='format-detection', content='telephone=no')
    meta(name='format-detection', content='date=no')
    meta(name='format-detection', content='address=no')
    meta(name='format-detection', content='email=no')
    meta(content='notranslate', name='google')
    //- Фавиконки (https://realfavicongenerator.net)
    //- link(rel='apple-touch-icon', sizes='180x180', href='/img/favicon/apple-touch-icon.png')
    //- link(rel='icon', type='image/png', sizes='32x32', href='/img/favicon/favicon-32x32.png')
    //- link(rel='icon', type='image/png', sizes='16x16', href='/img/favicon/favicon-16x16.png')
    //- link(rel='manifest', href='/img/favicon/site.webmanifest')
    //- link(rel='mask-icon', href='/img/favicon/safari-pinned-tab.svg', color='#5bbad5')
    //- meta(name='msapplication-TileColor', content='#5bbad5')
    //- meta(name='theme-color', content='#000')
    //- meta(name='msapplication-navbutton-color', content='#000')
    //- meta(name='apple-mobile-web-app-status-bar-style', content='#000')

    block meta
      title Home

    block head
      link(rel='stylesheet', href='css/style.css')
      script
        include ../js/head-script.js

  body
    noscript У вас отключен JavaScript. Это пугает.

    .page__inner
      .page__content
        .top-block
          +page-header()
          img.parallax(src='img/list.png', alt='Logo', width='100%', height='100%')
          .top-block__inner 
            .top-block__row 
              .col-1
                img(src='img/holod.png', alt='image')
              .col-2 
                h1 guara 
                  span Бесплатный сервис по подбору холодильного оборудования от проверенных поставщиков
                ul.no-list-style
                  li Доставляем по России и СНГ
                  li Монтируем на объекте
                  li Запускаем в работу
                  li Предоставляем гарантию 
                ul.list-circle
                  li Найдём оборудование любой сложности
                  li Подготовим пакет документов для осуществления сделки
                  li Обезопасим Ваш выбор от мошенников
                a.btn(href="#calculation" ) Подобрать оборудование
          #about
        section.about 
          .about__inner 
            h3 Сфера деятельности
              .subtitle Основные направления работы
            ul.about__list
              li.about-list__item 
                 img.product-img(src='img/product-1.png', alt='Скороморозильные агрегаты', width='171', height='170')
                 .product-title Скороморозильные агрегаты
              li.about-list__item 
                 img.product-img(src='img/product-2.png', alt='Шоковая заморозка', width='171', height='170')
                 .product-title Шоковая заморозка
              li.about-list__item 
                 img.product-img(src='img/product-3.png', alt='Воздухоохладители', width='212', height='125')
                 .product-title Воздухоохладители
              li.about-list__item 
                 img.product-img(src='img/product-4.png', alt='Холодильные централи', width='170', height='124')
                 .product-title Холодильные централи
              li.about-list__item 
                 img.product-img(src='img/product-5.png', alt='Холодильные камеры', width='170', height='170')
                 .product-title Холодильные камеры
              li.about-list__item 
                 img.product-img(src='img/product-6.png', alt='Чиллеры', width='170', height='162')
                 .product-title Чиллеры
              li.about-list__item 
                 img.product-img(src='img/product-7.png', alt='Климатические камеры', width='171', height='170')
                 .product-title Климатические камеры
        section.feedback 
          img.parallax1.parallax1--2(src='img/list7.png', alt='Logo', width='100px', height='135px')
          .feedback__inner
            .feedback__row 
              .col-1 
                h3 Требуется нетиповое и нестандартное холодильное оборудование?
                .subtitle Просто оставьте заявку и получите подробную <br> консультацию по подбору через 5 минут.
              .col-2
                form(action="post")
                  input(type="tel" ) 
                  input.btn(type="submit" value="Свяжитесь со мной")
        section.advantage
          img.parallax1.parallax1--1(src='img/list1.png', alt='Logo', width='200px', height='146px')
          img.parallax1(src='img/list2.png', alt='Logo', width='200px', height='146px')
          img.parallax2(src='img/list1.png', alt='Logo', width='100px', height='135px')
          img.parallax3(src='img/list7.png', alt='Logo', width='200px', height='110px')
          img.parallax4(src='img/list8.png', alt='Logo', width='250px', height='246px')
          #advantage
          .advantage__inner 
            h3 Наш сервис поможет не<br> только купить, но и ПРОДАТЬ!
            .advantage__list 
              li 
                .advantage__number 01
                .advantage__content Обширная база<br> покупателей
              li 
                .advantage__number 02
                .advantage__content Принятие любых<br> нестандартных вариантов
              li 
                .advantage__number 03
                .advantage__content Выкуп с <br> демонтажными <br>работами
              li 
                .advantage__number 04
                .advantage__content Оценка стоимости<br>по фото
            a.btn(href="#zakaz" data-toggle="modal" data-target="#zakaz") Узнать подробности
            h3 Преимущества сервиса GUARA
            .advantage__row 
              .advantage__col
                .advantage__icon-text.advantage__icon-text--1
                  img.product-img(src='img/icon-1.svg', alt='icon', width='127', height='121')
                  p Проверенная <br>база поставщиков
              .advantage__col
                .advantage__icon-text.advantage__icon-text--2 
                  p Возможность поиска<br>Б/У оборудования с<br> предоставлением гарантии
                  img.product-img(src='img/icon-4.svg', alt='icon', width='92', height='129')
                  
              .advantage__col
                .advantage__icon-text.advantage__icon-text--1
                  img.product-img(src='img/icon-2.svg', alt='icon', width='108', height='105')
                  p От начала и до конца<br> полностью бесплатный<br> сервис
              .advantage__col
                .advantage__icon-text.advantage__icon-text--2
                  p Подбор оборудования<br> любого объема
                  img.product-img(src='img/icon-5.svg', alt='icon', width='103', height='126') 
                 
              .advantage__col
                .advantage__icon-text.advantage__icon-text--1
                  img.product-img(src='img/icon-3.svg', alt='icon', width='83', height='126')
                  p Расчет необходимой<br> мощности,<br> которая не будет <br>требовать лишних<br> энерго-затрат
              .advantage__col
                .advantage__icon-text.advantage__icon-text--2
                  p Полностью исключён<br> риск мошенничества   
                  img.product-img(src='img/icon-6.svg', alt='icon', width='120', height='123')
        section#calculation.calculation 
          .calculation__inner 
            h3 Расчёт стоимости
            .subtitle Онлайн заявка позволяет быстро и точно определить<br> необходимое оборудование под потребности.
            .block-calc
              .block-calc__step-1
                .block-calc__title.step1 Шаг 1
                .block-calc__title.step2 Шаг 2
                .block-calc__title.step3 Шаг 3
                .block-calc__title.step4 Шаг 4
                .block-calc__steps
                  span.step-1.active
                  span.step-2
                  span.step-3
                  span.step-4
                .block-calc__subtitle.step1 У вас уже есть ТЗ?
                .block-calc__subtitle.step2 Температурный режим
                p.step1 Тогда просто прикрепите его к форме
                p.step3 Поля отмеченные * обязательны для заполнения
                p.step4 Поля отмеченные * обязательны для заполнения
                form
                  .input__wrapper.step1
                     input(type="file" name="file" id="input__file" class="input input__file")
                     label.input__file-button(for="input__file")
                      span.input__file-icon-wrapper
                        img.input__file-icon(src='img/download.svg', alt='icon', width='25', height='26')
                      span.input__file-button-text Загрузить файл
                  .col-1.step1
                    .title Размещение камеры
                    div.form-control
                      input#razm.radio(type="radio" required="required" name="razm" checked="checked" )
                      label(for="razm") На улице
                    div.form-control
                      input#razm.radio(type="radio" required="required" name="razm"  )
                      label(for="razm")  В помещении
                  .col-1.step1
                    .title Эксплуатация
                    div.form-control
                      input#expl.radio(type="radio" required="required" name="expl" checked="checked" )
                      label(for="expl") Новое оборудование
                    div.form-control
                      input#expl.radio(type="radio" required="required" name="expl" )
                      label(for="expl") span Б/У оборудование
                  .step2
                    .step2__wrapper
                      div
                        img(src='img/gr1.svg', alt='icon', width='58', height='157')
                        input#temp.radio(type="radio" required="required" name="temp" checked="checked" )
                        label(for="temp") Среднетемпературный <br>( 5-100 С )
                      div
                        img(src='img/gr2.svg', alt='icon', width='58', height='157')
                        input#temp.radio(type="radio" required="required" name="temp" checked="checked" )
                        label(for="temp") Низкотемпературный <br>( -10 - 250 С )
                      div
                        img(src='img/gr3.svg', alt='icon', width='58', height='157')
                        input#temp.radio(type="radio" required="required" name="temp" checked="checked" )
                        label(for="temp") Шоковая заморозка <br>( -30 - 400 С )
                  .step3 
                    .step3__wrapper
                      .col-2 
                        span Объем помещения (Д*Ш*В) *
                        input#ob.text(required="required" name="ob" type="text" autocomplete="off")
                        span Утепление
                        div
                          input#ut.radio(type="radio" required="required" name="ut" checked="checked" )
                          label(for="ut") Пенополиуретан
                        div
                          input#ut.radio(type="radio" required="required" name="ut" checked="checked" )
                          label(for="ut") Пенополистерол
                        span Толщина утепления, мм
                        div
                          input#tol.radio(type="radio" required="required" name="tol" checked="checked" )
                          label(for="ut") 60
                        div
                          input#tol.radio(type="radio" required="required" name="tol" checked="checked" )
                          label(for="ut") 80
                        div
                          input#tol.radio(type="radio" required="required" name="tol" checked="checked" )
                          label(for="ut") 100
                      .col-2
                        span Продукт хранения *
                        input#pr.text(required="required" name="pr" type="text" autocomplete="off")
                        span Объем продукта, кг *
                        input#ob.text(required="required" name="ob" type="text" autocomplete="off")
                        span Температура в камере *
                        input#tkam.text(required="required" name="tkam" type="text" autocomplete="off")
                        span Город *
                        input#sity.text(required="required" name="sity" type="text" autocomplete="off")
                  .step4
                    .step4__wrapper
                      
                      .col-3 
                        div.step4__row 
                          span Юридическая форма
                          input#ur.radio(type="radio" required="required" name="ur" checked="checked" )
                          label(for="ur") Физ. лицо
                          input#ur.radio(type="radio" required="required" name="ur" checked="checked" )
                          label(for="ur") Юр. лицо
                        span ФИО *
                        input#fio.text(required="required" name="fio" type="text" autocomplete="off")
                        span Телефон *
                        input#ph.text(required="required" name="ph" type="text" autocomplete="off")
                      .col-3 
                        span E-mail *
                        input#ma.text(required="required" name="ma" type="text" autocomplete="off")
                        span Комментарий
                        input#msg.text(required="required" name="msg" type="text" autocomplete="off")





                  a.btn.step1(href="#") Следующий шаг
                    img(src='img/arrow.svg', alt='следующий шаг', width='29', height='24')
                  div.btns
                    a.back.step2(href="#") 
                      img(src='img/arrow_white.svg', alt='назад', width='29', height='24')
                      | Назад
                    a.btn.step2(href="#") Следующий шаг
                      img(src='img/arrow.svg', alt='следующий шаг', width='29', height='24')
                  div.btns
                    a.back.step3(href="#") 
                      img(src='img/arrow_white.svg', alt='назад', width='29', height='24')
                      | Назад
                    a.btn.step3(href="#") Следующий шаг
                      img(src='img/arrow.svg', alt='следующий шаг', width='29', height='24')
                  div.btns
                    a.back.step4(href="#") 
                      img(src='img/arrow_white.svg', alt='назад', width='29', height='24')
                      | Назад
                    input.btn.button.step4(type="submit" value="Отправить")
                  



        section#brands.brands 

          img.parallax5(src='img/list1.png', alt='Logo', width='100px', height='135px')
          img.parallax6.parallax6--1(src='img/list1.png', alt='Logo', width='100px', height='135px')
          img.parallax6(src='img/list5.png', alt='Logo', width='100px', height='135px')
          img.parallax7(src='img/list5.png', alt='Logo', width='100px', height='135px')

          .brands__inner 
            h3 Ипользуемые бренды холодильного оборудования
            .brands__row
             .col 
               img.product-img(src='img/logo-1.png', alt='brand', width='300', height='122') 
             .col 
               img.product-img(src='img/logo-2.png', alt='brand', width='300', height='122') 
             .col 
               img.product-img(src='img/logo-3.png', alt='brand', width='300', height='122') 
             .col 
               img.product-img(src='img/logo-4.png', alt='brand', width='300', height='122') 
             .col 
               img.product-img(src='img/logo-5.png', alt='brand', width='375', height='122') 
             .col 
               img.product-img(src='img/logo-6.png', alt='brand', width='300', height='122') 
             .col 
               img.product-img(src='img/logo-7.png', alt='brand', width='300', height='122') 
             .col 
               img.product-img(src='img/logo-8.png', alt='brand', width='300', height='122') 
             .col 
               img.product-img(src='img/logo-9.png', alt='brand', width='300', height='122') 
             .col 
               img.product-img(src='img/logo-10.png', alt='brand', width='300', height='122') 
             .col 
               img.product-img(src='img/logo-11.png', alt='brand', width='300', height='122') 
             .col 
               img.product-img(src='img/logo-12.png', alt='brand', width='300', height='122') 
             .col 
               img.product-img(src='img/logo-13.png', alt='brand', width='300', height='122') 
             .col 
               img.product-img(src='img/logo-14.png', alt='brand', width='300', height='122')
        section.bottom-block
          .bottom-block__inner 
            .bottom-block__row 
              .col-1
                .subtitle Оставив заявку на нашем сайте Вам не придется звонить в десятки организаций, и задавать одни и те же вопросы.
                img.product-img(src='img/holod_bot.png', alt='brand', width='710', height='525') 
              .col-2
                form(action="")
                  .form-title Оставить заявку
                  label(for="name") Ваше имя
                  input#name(type="text") 
                  label(for="phone") Ваш телефон
                  input#phone(type="text")
                  label(for="mail") Ваша почта
                  input#mail(type="text")
                  input.btn(type="submit" value="Свяжитесь со мной")
                  .form-agreement
                    label.checkbox-other(for="agreement")  
                      input#agreement.required(type="checkbox" required="required" name="agreement" checked="checked" )
                      span Я даю согласие на обработку персональных данных и соглашаюсь с политикой конфиденциальности
                     
                    






      .page__footer-wrapper
        +page-footer()
          block footer
      +to-top()
      +modal("zakaz","")
        .modal__body 
          form(action="")
                  .form-title Узнать подробности
                  label(for="name") Ваше имя
                  input#name(type="text") 
                  label(for="phone") Ваш телефон
                  input#phone(type="text")
                  label(for="mail") Ваша почта
                  input#mail(type="text")
                  input.btn(type="submit" value="Свяжитесь со мной")
                  .form-agreement
                    label.checkbox-other(for="agreement")  
                      input#agreement.required(type="checkbox" required="required" name="agreement" checked="checked" )
                      span Я даю согласие на обработку персональных данных и соглашаюсь с политикой конфиденциальности


    block page-bottom
      script(src='js/bundle.js')
