extends ../pug/layout.pug

block meta
  title Главная
  meta(name='description', content='')
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap" rel="stylesheet">
//- block append head
//-   link(rel='stylesheet', href='css/some.css')



 

//- block footer
//-   p footer

//- block append page-bottom
//-   script(src='js/some.js')
