// В этом файле должны быть стили для БЭМ-блока logo, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.logo {

  $block-name:                &; // #{$block-name}__element
  white-space: nowrap;
  width: 165px;
  min-width: 165px;

  img {
    display: block;
    margin:1.5rem 0;
  }
  @media (max-width: 768px){
    margin:15px 18px;
  }
}
