//- Все примеси в этом файле должны начинаться c имени блока (page-footer)

mixin page-footer(mods)

  //- Принимает:
  //-   mods  {string} - список модификаторов
  //- Вызов:
        +page-footer()
          p «Подвал»
  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' page-footer--' + modsList[i].trim();
      }
    }

  footer.page-footer(class=allMods, role='contentinfo')&attributes(attributes)
    .page-footer__inner
      .page-footer__row 
        .page-footer__col-1
            +logo('/')
              img.logo(src='img/logo_bottom.svg', alt='Logo', width='165', height='74')
            p Бесплатный сервис по подбору холодильного оборудования

        .page-footer__col-2
          .page-footer__menu-title Контакты
          ul.page-footer__menu
             li 
               a(href="mailto:info@Guara.ru") info@Guara.ru
             li 
               a(style="color:#fff"  href="tel:+79777789243") 8 (977) 778-92-43

             li 
               a(style="color:#fff"  href="tel:+79778705") 8 (977) 700-87-05
        .page-footer__col-3
        
      .divider
      .page-footer__copyright
        div 
          p  Информация на сайте не является публичной офертой.

        div © 1998-2017 GUARA ®

      block
