@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');
// Базовые цвета https://colorscheme.ru/color-converter.html

$black:                       hsl(0, 0%, 0%);
$gray-darkest:                hsl(0, 0%, 12%);
$gray-darker:                 hsl(0, 0%, 20%);
$gray-darken:                 hsl(0, 0%, 30%);
$gray-dark:                   hsl(0, 0%, 44%);
$gray:                        hsl(0, 0%, 50%);
$gray-light:                  hsl(0, 0%, 60%);
$gray-lighten:                hsl(0, 0%, 86%);
$gray-lighter:                hsl(0, 0%, 93%);
$gray-lightest:               hsl(0, 0%, 97%);
$white:                       hsl(0, 0%, 100%);

$color-main:                  hsl(20, 98%, 58%);
$color-success:               hsl(120, 39%, 54%);
$color-danger:                hsl(2, 64%, 58%);
$color-warning:               hsl(35, 84%, 62%);

$color-vk:                    #5181B8;
$color-fb:                    #3954A1;
$color-tw:                    #1DA1F2;
$color-gh:                    #24292e;
$color-google:                #ffffff;



// Семантические цвета

$text-color:                  $black;
$text-color-muted:            $gray-dark;
$body-bg:                     $gray-lightest;

$link-color:                   $black;
$link-color--hover:           $color-main;

$border-color:                $gray-lighter;



// Базовая типографика

$font-size:                   16px;

$font-size-h1:                40px;
$font-size-h2:                32px;
$font-size-h3:                24px;
$font-size-h4:                18px;
$font-size-h5:                16px;
$font-size-h6:                16px;

$font-size-sm:                0.75em; // 12px от 16px

$line-height:                 28px;

$typo-margin-vertical:        0;

$font-family:                 'Open Sans', sans-serif;
$font-family--monospace:    'Open Sans', sans-serif;
// Georgia, Times New Roman, Times, serif



// Ширины

$screen-xs:                   0;
$screen-sm:                   480px;
$screen-md:                   768px;
$screen-lg:                   992px;
$screen-xl:                   1200px;


$container-sm:                100%;
$container-md:                100%;
$container-lg:                $screen-lg - 30;
$container-xl:                $screen-xl;



// Модульная сетка

$grid-columns:                12;
$grid-gutter-width:           30px;



// Разное

$field-padding-vertical:      5px;
$field-padding-horizontal:    12px;

$border-radius:                22.5px;
$opacity:                     0.7;
$transition-time:             0.3s;
$shadow:                     0 4px 12px rgba(0, 0, 0, 0.14);

$menu-desktop-width:          $screen-lg;
$toggler-part-height:         2px;
$toggler-part-bg-color:       hsl(20, 98%, 58%);

$z-index-modal:               100;
