//- Все примеси в этом файле должны начинаться c имени блока (to-top)

mixin to-top(mods)

  //- Принимает:
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +to-top()

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' to-top--' + modsList[i].trim();
      }
    }


  .to-top.to-top-wrap <svg class="progress-circle svg-content" width="60" height="60" viewBox="-1 -1 102 102"><path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" style="transition: stroke-dashoffset 10ms linear 0s; stroke-dasharray: 307.919, 307.919; stroke-dashoffset: 62.5653;"></path></svg>